@model HuntSmart.Models.User

@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Hunt Smart - Know before you go";
}

<center>
  <div style="width:40%; margin-top:10%">
    <div class="col-md-12">
      <h4 style="color:red">wrong username or password</h4>
      <!-----------------/////////////////////////////////////------------------->
      <h2>Login here</h2>

      <form class="form" action="/Account/login" method="post" id="login">

        <div class="form-group" style="padding-top:8px">
          <input type="email" class="form-control" id="loginemail" name="loginemail" placeholder="Email" required>
        </div>

        <div class="form-group" style="padding-top:8px">
          <input type="password" style="color: black;" class="form-control" id="loginpass" name="loginpass" placeholder="Password" required>
        </div>

        <div class="form-group">
          <button type="submit" id="loginButton" class="btn btn-primary btn-block">Sign in</button>
        </div>
      </form>
      <!-----------------/////////////////////////////////////------------------->
    </div>
    <div class="bottom text-center">
      <h4> New on Hunt Smart ? <a href="/Account/register"><b>Create Account</b></a></h4>
    </div>
  </div>
</center>


@section additionalStyles{
  <!-- Style Sheet -->
  <link rel="stylesheet" type="text/css" href="~/Content/normalize.css">
  <link rel="stylesheet" type="text/css" href="~/Content/demo.css">
  <link rel="stylesheet" type="text/css" href="~/Content/component.css">
}

@section additionalScripts{

  <script src="~/Scripts/TweenLite.min.js"></script>
  <script src="~/Scripts/EasePack.min.js"></script>
  <script src="~/Scripts/rAF.js"></script>
  <script src="~/Scripts/demo-1.js"></script>
}