@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = "Hunt Smart - Know before you go";
}

<h1 style="color:white">Review Form</h1>
<div style="background-color:black" class="container">
  <div id="admin-controls">
    <div style="margin-left:11%">
      <br />
      <br />
      <div>
        <h3 style="color: white" id="reviewh">Please Provide Review for your Company</h3>
        <br />
        <div>
          <p style="color: #ffff00" id="reviewq">1.Will you suggest this company to others and want to work long term?</p>
          <br />
          <p>
          </p>
        </div>
        <div>
          <p style="color: #ffff00" id="reviewq">2.How would you rate influence of employee politics in this organization?</p>
          <br />
          <p>

            <span class="starRating">
              <input id="rating5" type="radio" name="rating" value="5">
              <label for="rating5">5</label>
              <input id="rating4" type="radio" name="rating" value="4">
              <label for="rating4">4</label>
              <input id="rating3" type="radio" name="rating" value="3" checked>
              <label for="rating3">3</label>
              <input id="rating2" type="radio" name="rating" value="2">
              <label for="rating2">2</label>
              <input id="rating1" type="radio" name="rating" value="1">
              <label for="rating1">1</label>
            </span>
          </p>
        </div>
        <div>
          <p style="color: #ffff00" id="reviewq">3.How would you rate influence of employee politics in this organization?</p>
          <br />
          <p>

            <span class="starRating">
              <input id="rating5" type="radio" name="rating" value="5">
              <label for="rating5">5</label>
              <input id="rating4" type="radio" name="rating" value="4">
              <label for="rating4">4</label>
              <input id="rating3" type="radio" name="rating" value="3" checked>
              <label for="rating3">3</label>
              <input id="rating2" type="radio" name="rating" value="2">
              <label for="rating2">2</label>
              <input id="rating1" type="radio" name="rating" value="1">
              <label for="rating1">1</label>
            </span>
          </p>
        </div>
        <div>
          <p style="color: #ffff00" id="reviewq">4.how do you rate gender baisedness in your company?</p>
          <br />
          <p>

            <span class="starRating">
              <input id="rating5" type="radio" name="rating" value="5">
              <label for="rating5">5</label>
              <input id="rating4" type="radio" name="rating" value="4">
              <label for="rating4">4</label>
              <input id="rating3" type="radio" name="rating" value="3" checked>
              <label for="rating3">3</label>
              <input id="rating2" type="radio" name="rating" value="2">
              <label for="rating2">2</label>
              <input id="rating1" type="radio" name="rating" value="1">
              <label for="rating1">1</label>
            </span>
          </p>
        </div>
        <div>
          <p style="color: #ffff00" id="reviewq">5.How would you rate timings in correspondance to work load on you?</p>
          <br />
          <p>

            <span class="starRating">
              <input id="rating5" type="radio" name="rating" value="5">
              <label for="rating5">5</label>
              <input id="rating4" type="radio" name="rating" value="4">
              <label for="rating4">4</label>
              <input id="rating3" type="radio" name="rating" value="3" checked>
              <label for="rating3">3</label>
              <input id="rating2" type="radio" name="rating" value="2">
              <label for="rating2">2</label>
              <input id="rating1" type="radio" name="rating" value="1">
              <label for="rating1">1</label>
            </span>
          </p>
        </div>
        <div>
          <p style="color: #ffff00" id="reviewq">6.How transparent is your organization's recruiting criteria??</p>
          <br />
          <p>

            <span class="starRating">
              <input id="rating5" type="radio" name="rating" value="5">
              <label for="rating5">5</label>
              <input id="rating4" type="radio" name="rating" value="4">
              <label for="rating4">4</label>
              <input id="rating3" type="radio" name="rating" value="3" checked>
              <label for="rating3">3</label>
              <input id="rating2" type="radio" name="rating" value="2">
              <label for="rating2">2</label>
              <input id="rating1" type="radio" name="rating" value="1">
              <label for="rating1">1</label>
            </span>
          </p>
        </div>
        <div>
          <p style="color: #ffff00" id="reviewq">7.Are salaries and incentives(over time, paid leaves, transportation facility, allowances, bonuses) attractive?</p>
          <br />
          <p>

            <span class="starRating">
              <input id="rating5" type="radio" name="rating" value="5">
              <label for="rating5">5</label>
              <input id="rating4" type="radio" name="rating" value="4">
              <label for="rating4">4</label>
              <input id="rating3" type="radio" name="rating" value="3" checked>
              <label for="rating3">3</label>
              <input id="rating2" type="radio" name="rating" value="2">
              <label for="rating2">2</label>
              <input id="rating1" type="radio" name="rating" value="1">
              <label for="rating1">1</label>
            </span>
          </p>
        </div>
        <div>
          <p style="color: #ffff00" id="reviewq">8.How much the chances of learning and growth you see here?</p>
          <br />
          <p>

            <span class="starRating">
              <input id="rating5" type="radio" name="rating" value="5">
              <label for="rating5">5</label>
              <input id="rating4" type="radio" name="rating" value="4">
              <label for="rating4">4</label>
              <input id="rating3" type="radio" name="rating" value="3" checked>
              <label for="rating3">3</label>
              <input id="rating2" type="radio" name="rating" value="2">
              <label for="rating2">2</label>
              <input id="rating1" type="radio" name="rating" value="1">
              <label for="rating1">1</label>
            </span>
          </p>
        </div>
        <div>
          <p style="color: #ffff00" id="reviewq">9.How much the behaviour and management of the company is commendable?</p>
          <br />
        </div>
        <div>
          <p style="color: #ffff00" id="reviewq">10.how often your organization organizes extra curricular activities (annual dinners, tours, workshops, birthday parties, sporting events)?</p>
          <br />
          <p>
          </p>
        </div>
      </div>
      <p>Comment:</p>
      <div class="row">

        <div class="col-md-10">
          <textarea style="width: 500px; border:2px solid #0099CC" id="comment" name="edu-des" rows="6" form="myform" placeholder="Description"></textarea>
        </div>
      </div>
      <form action="/Home/experience">
        <button id="submitreview" name="submitreview" type="submit" onclick="javacript: rev()" class="btn btn-default">Submit</button>
      </form>
    </div>
    <br />

    <br />
  </div>
</div>

@section additionalStyles{
  <!-- Style Sheet -->
  <link rel="stylesheet" href="~/Content/StarRating.css">
  <link rel="stylesheet" href="~/Content/userprofile.css">
}

@section additionalScripts{
  <!-- Scripts -->
  <script src="~/Scripts/plugins/superfish.min.js"></script>
  <script src="~/Scripts/plugins/rangeslider.min.js"></script>
  <script src="~/Scripts/uou-accordions.js"></script>
  <script src="~/Scripts/uou-tabs.js"></script>
  <script src="~/Scripts/plugins/select2.min.js"></script>
  <script src="~/Scripts/owl.carousel.min.js"></script>
  <script src="~/Scripts/gmap3.min.js"></script>
  <script src="~/Scripts/scripts.js"></script>
}